@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

:root {
    --vertical-space: 2rem;
    --horixontal-space: 4rem;
    --light-color: #f2f2f2 ;
    --body-color: #484848;
    --heading-color: #004297;
    --contrast-color: #f07a7adc;
}

body{
    font-size: 18px;
    line-height: 1.5;
    font-family: 'Dancing Script', cursive;
    background-color: #88bad1;
    background-image: url("https://transparenttextures.com/patterns/45-degree-fabric-light.png");
    color: var(--body-color);
}

/* header > h1 {
} */

h1, h2, h3, li {
    line-height: 1.2;
    font-family: 'Shadows Into Light', cursive;
    color: var(--heading-color);
}

a {
    color: var(--body-color);
    text-decoration-color: var(--contrast-color);
}

a:hover{
    color: var(--contrast-color);
}

p {
    max-width: 50em;
    background-color: #00429730;

}

body{
    display: grid;
    grid-template-areas: "head nav" "main main" "foot foot";
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr auto;
}

@media screen and (min-width:22em){
    body{
        grid-template-areas: "head nav" "main main" "foot foot";
        grid-template-rows: auto auto 1fr auto;
    }
}

body > * {
    padding-left: var(--horizonal-space);
    padding-right: var(--horixontal-space);
}

body > header{
    grid-area: head;
}

body > nav{
    grid-area: nav;
}


body > nav ul{
    /* list-style-type: none; */
    padding: 1em;
    border-bottom: 2px solid var(--heading-color);

}

body > nav ul li{
    display: inline-block;
    padding-right: 1em;
}
body > nav ul ul{
    display: inline-block;
    padding-right: 1em;
}

body > main{
    grid-area: main;
}

body > footer {
    grid-area: foot;
}

header, footer{
    padding-top: var(--vertical-space);
}

header h1, footer h1{
    margin: 0;
}

body {
    grid-template-areas: "head head" "nav nav" "main main" "foot foot";
    grid-template-columns: auto 4fr;
    grid-template-rows: auto auto 1fr auto;
}

body#portfolio ul#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    list-style-type: none;
    padding: 0;
    columns: 3;
}

@media screen and (min-width:22em){
    body {
        grid-template-areas: "head head" "nav nav" "main main" "foot foot";
        grid-template-rows: auto 1fr auto;
    }
    body#portfolio ul#portfolioItems li{
        flex-basis: 48%;
        padding-right: 2%;
    }
}

body#portfolio ul#portfolioItems li img{
    max-width: 100%;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px; 
    right: 20px;
    border: none;
    background-color: #00429730; 
    color: #484848; 
    cursor: pointer;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #484848; /* Add a dark-grey background on hover */
  }